.idea/
target/
out/
*.iml
.vs/
bin/
obj/
DroneDeliveryClient/src/main/java/stubs/*
!DroneDeliveryClient/src/main/java/stubs/accounting/package-info.java
!DroneDeliveryClient/src/main/java/stubs/drone/package-info.java
!DroneDeliveryClient/src/main/java/stubs/packages/package-info.java
!DroneDeliveryClient/src/main/java/stubs/planning/package-info.java
